---
import { type Job } from "@/data/job";

interface Props {
  job: Job;
}

const { job } = Astro.props;
---

<a href={job.href} target="_blank">
  <div
    class="flex py-8 md:py-10 flex-col gap-y-2 md:gap-y-5 [&>div>div>div>.title]:text-font-title [&>div>div>div>.title]:hover:text-primary [&>div>div>img]:hover:scale-110"
  >
    <div class="flex flex-col md:flex-row w-full justify-between">
      <div
        class="flex flex-col md:flex-row gap-y-2 md:gap-y-0 gap-x-4 items-start md:items-center"
      >
        <img alt={job.alt} src={job.img} class="w-8 h-8 duration-200" />
        <div class="flex flex-col">
          <span class="duration-200 text-xl font-bold title">
            {job.title}
          </span>
          <span class="font-bold">{job.company}</span>
        </div>
      </div>
      <span class="font-semibold">{job.timestamp}</span>
    </div>
    {job.description && <span>{job.description}</span>}
  </div>
</a>
