---
import { getJobBySlug, getJobs } from "@/api/works";
import Button from "@/components/Button.astro";
import Card from "@/components/Card.astro";
import Gallery from "@/components/Gallery.astro";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
import "photoswipe/style.css";

export async function getStaticPaths() {
  const jobs = await getJobs();
  return jobs.map((job) => {
    return { params: { slug: job.slug } };
  });
}

const { slug } = Astro.params;
const job = await getJobBySlug(slug);
---

<Layout title={"Claudia Marin | " + job.name}>
  <main class="flex flex-col md:flex-row w-full h-fit gap-4">
    <Card
      props={{
        "data-delayanimation": "100",
      }}
      className="js-scroll"
    >
      <img
        class="mb-2 rounded-full row-span-2"
        width="40"
        height="40"
        alt={job.altLogo}
        src={job.logo}
      />
      <Title variant="h1" size="large">{job.mainTitle}</Title>
      <p class="mt-2">{job.principalDescription}</p>
    </Card>
    <img
      data-delayanimation="300"
      src={job.mainImage}
      alt={job.altMainImage}
      class="js-scroll w-full rounded-xl md:max-w-[350px] aspect-square"
    />
  </main>
  <Card
    props={{
      "data-delayanimation": "500",
    }}
    className="js-scroll mt-4 mb-4 w-full h-fit md:max-h-[500px] overflow-hidden flex flex-col-reverse md:flex-row md:items-center"
  >
    <Gallery job={job} />
    <div class="w-full h-fit">
      <Title className="mb-2" variant="h2" size="large">
        {job.secondaryTitle}
      </Title>
      <p class="mb-4">
        {job.secondaryDescription}
      </p>
      <a href={job.url} target="_blank">
        <Button> Saiba mais </Button>
      </a>
    </div>
  </Card>
</Layout>
