---
import { getAboutData } from "@/api/about";
import { getBlogPosts } from "@/api/blog";
import Card from "@/components/Card.astro";
import Divider from "@/components/Divider.astro";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
import { formatDate } from 'date-fns'
import { ptBR} from 'date-fns/locale'

const blogPosts = await getBlogPosts();
const { email, name, alt, image } =
  await getAboutData();
---

<Layout title={"Claudia Marin | Blog"}>
  <section>
    {
      blogPosts.map((post) => (
        <Card className="p-0 flex flex-col md:flex-row h-fit md:h-80 overflow-hidden">
            <div class="rounded-xl h-72 sm:h-96 w-full md:h-full md:w-5/12 overflow-hidden">
          <img class="w-full h-full object-cover" src={post.image} alt={post.alt} />
        </div>
          <div class="w-full h-full md:w-7/12 my-auto flex flex-col justify-center items-center p-4 lg:p-8">
            <div class="w-full mb-2 flex items-center gap-x-3">
                {post.category && <span>{post.category.name}</span>
                <Divider variant="vertical"/>}
                <span>{formatDate(post.firstPublishedOn, "dd MMM yyyy", { locale: ptBR })}</span>
            </div>
            <Title variant="h2" size="large" className="mb-2">{post.title}</Title>
            <p class="mb-5">{post.description}</p>
            <Divider/>

            <div class="w-full flex mt-4">
               
                <img alt={alt} class="w-16 h-16 rounded-full" src={image} />
         
                <div class="flex justify-center ml-2 flex-col">
                    <Title variant="span" size="normal">{name}</Title>
                    <p>{email}</p>
                </div>
            </div>
          </div>
        </Card>
      ))
    }
  </section>
</Layout>
