---
import ToggleMenu from "@/components/ToggleMenu.astro";
import Logo from "@/components/Logo.astro"
import {type Menu} from "@/data/menu.ts"

interface Props{
  options: Menu[]
}

const {options} = Astro.props;
const toggleGroup = "toggleMenu"
const dontHideGroup = "dontHideMenu"
---

<div 
id="dropDownMenu" 
data-group={dontHideGroup} 
style="transform: translateY(-100%);" 
class={` w-full duration-500 h-fit absolute p-4 
md:p-8 bg-white border-t-2 border-b-2 border-t-neutral-300/25 
border-b-neutral-300/25 shadow-sm  mt-20 lg:hidden flex flex-col gap-y-4`}>
{options.map(option=><a class="hover:text-primary duration-200" href={option.href}>{option.name}</a>)}
</div>
<div class=" w-full h-20 absolute top-0 z-30 bg-background lg:hidden"></div>
<div
  class="[width:calc(100%_-_2rem)] md:[width:calc(100%_-_4rem)] max-w-5xl h-fit lg:hidden absolute top-0 left-1/8"
>
<div class="animate-fade-in py-4 flex justify-between items-center w-full relative bg-background h-20 z-30">
  <Logo className="hover:scale-95 duration-200 z-30"/>

  <ToggleMenu groupName={toggleGroup}/>
</div>
</div>


<script is:inline>
  function actionNavbar(){
    var open = false;

    var bar1 = document.getElementById("bar1");
    var bar2 = document.getElementById("bar2");
    var menu = document.getElementById("dropDownMenu")

document.addEventListener("click", (e) => {
  
  if (e.target?.dataset?.group == "toggleMenu") {
    toggleMenu();
    return;
  }

  if(e.target?.dataset?.group == "dontHideMenu") return

  if (!open) return;

  toggleMenu();
});

function toggleMenu() {
  if (!bar1 || !bar2) return;
  open = !open;
  if (open) {
    bar1.style =
      "transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(135deg) skew(0deg, 0deg); transform-style: preserve-3d;";
    bar2.style =
      "transform: translate3d(0px, -7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg); transform-style: preserve-3d;";
    
    menu.style = "transform: translateY(0);"
    return;
  }

  menu.style = "transform: translateY(-100%);"
  bar1.style = "";
  bar2.style = "";
}
  }
  
  document.addEventListener("astro:after-swap", () => {
    actionNavbar();
  });

  actionNavbar();
</script>
